
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="livematch">
      <ion-icon name="timer-outline"></ion-icon>
      <span class="small">Live Match</span>
    </ion-tab-button>

    <ion-tab-button tab="livechannels" >
      <!-- <ion-icon name="analytics"></ion-icon> -->
      <ion-icon name="tv-outline"></ion-icon>
      <span class="small">Live Channel</span>

    </ion-tab-button>

    <ion-tab-button  tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <span class="small">Settings</span>

    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>